{% extends "form_div_layout.html.twig" %}

{% block form_row %}
    {% spaceless %}
        <div class="form_row row">
            <div class="col-xs-6">
                {{ form_label(form) }}
            </div>
            <div class="col-xs-6">
                {{ form_widget(form) }}
            </div>
            <div class="col-xs-12">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty -%}
            {% if label_format is not empty %}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {% else %}
                {% set label = name|humanize %}
            {% endif %}
        {% endif %}
        <label{% if label_attr %}{% set label_attr = label_attr|merge({'class': label_attr.class ~ ' frontend-form-label'}) %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
            {% if required %}
                <span class="required" title="This field is required">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock form_label %}

{%- block form_start -%}
    {{ dump(attr) }}
{%- endblock form_start -%}